<html ng-app="block">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>block</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body class="bgc-off-white">
  <head>
    <div class="container debug" ng-controller="BlocksCtrl as block">
      <nav>
        <ul>
        </ul>
      </nav>
      <div class="row debug">
        <div class="col-s-12 debug">
          <h1 class="text-center">block</h1>
        </div>
      </div>
      <div class="row row-centered debug">
        <div class="col-xs-12 col-lg-6 col-centered debug">
          <div class="row">
            <div class="col-xs-8 debug">
              <div class="row debug">
                <div class="col-xs-1 debug">
                  <div class="mt5 color-block bgc-gray pointer" ng-click="block.newBlock.color = 'gray'"></div>
                </div>
                <div class="col-xs-1 debug">
                  <div class="mt5 color-block bgc-blue pointer" ng-click="block.newBlock.color = '#c9e4ff'"></div>
                </div>
                <div class="col-xs-1 debug">
                  <div class="mt5 color-block bgc-green pointer" ng-click="block.newBlock.color = '#cadebf'"></div>
                </div>
                <div class="col-xs-1 debug">
                  <div class="mt5 color-block bgc-red pointer" ng-click="block.newBlock.color = '#ffbdbd'"></div>
                </div>
                <div class="col-xs-1 debug">
                  <div class="mt5 color-block bgc-purple pointer" ng-click="block.newBlock.color = '#f1cbff'"></div>
                </div>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <h5>{{block.newBlock.textBody.length}}/500</h5>
            </div>
          </div>
          <form name="block.userForm" ng-submit="block.submit(block.newBlock)">
            <div class="form-group">
              <textarea class="w-full center-block" ng-model="block.newBlock.textBody" ng-maxLength="500" required="true" style="border: 5px solid {{block.newBlock.color}};"></textarea>
            </div>
            <div class="row debug">
              <div class="col-sm-7">
                <input type="text" class="w-full" ng-model="block.newBlock.author" placeholder="author" required="true">
              </div>
              <div class="col-sm-5">
                <button type="submit" class="pull-right">add block</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row row-centered debug" ng-repeat="block in block.blocks | orderBy:'-date'">
        <div class="col-xs-12 col-lg-6 col-centered debug">
          <div class="w-full" style="border: 5px solid {{block.color}}; margin-top: 25px; margin-bottom: 25px;">
            <div class="row">
              <div class="col-xs-12">
                <h5 class="pl10 pr10">{{block.textBody}}</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <h6 class="pl10 pr10">{{block.author}}</h6>
              </div>
              <div class="col-xs-6 text-right">
                <h6 class="pl10 pr10">{{block.date | date}}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 debug" style="height: 150px;">

        </div>
      </div>
    </div>
  </head>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.0/angular.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="app/block.js"></script>
  <script type="text/javascript" src="app/blocks/blocks-controller.js"></script>
  <script type="text/javascript" src="app/models/blocks-model.js"></script>
</body>
</html>